/* app css stylesheet */
body{
  background: #f8f8f8 !important;
}

.games.cards{
  background: initial;
  border: 0;
  box-shadow: none;
  min-height: 350px;

}
.right.aligned{
  text-align: right;
}
div#map {
  width: 100%;
  height: 500px;
}
.actions {
  margin-top: 15px;
}
